{% extends "plantilla/master.html" %}

{% load static %}

{% block contenido %}

<div class="page-width-1 page-left">
    <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
      <div class="intro-left tm-bg-dark">
        <h2 class="mb-4">Crear nueva carrera</h2>
        <p class="mb-4">
            <form method="post" action="insert_carrera">
                {% csrf_token %}
                {{ formulario.as_p }}    
                <input class="btn btn-primary tm-intro-btn tm-page-link" type="submit" value="Guardar" />
            </form>
             
        </p>
      </div>
      
    </div>
                
  </div> 

{% endblock %}
