{% extends "plantilla/master.html" %}

{% load static %}

{% block contenido %}

    <h1>Lista de alumnos</h1>
    <h1>{{ alumnos }}</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Carrera</td>
            <td>Status</td>
        </tr>
        {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.id }}</td>
            <td>{{ alumno.nombre }} {{ alumno.ap_pat }} {{ alumno.ap_mat }} </td>
            <td>{{ alumno.carrera.nombre }}</td>
            <td>{{ alumno.status }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2><a href="index" >Regresar al Index</a></h2>
    {% endblock %}